.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 610px;
}

.u-section-1 .u-text-1 {
  margin: 48px 506px 0 12px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 77px auto 25px -12px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 421px;
}

.u-section-1 .u-container-layout-1 {
  padding: 18px 0;
}

.u-section-1 .u-image-1 {
  width: 429px;
  height: 275px;
  margin: 25px auto 0 48px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 421px;
}

.u-section-1 .u-container-layout-2 {
  padding: 18px 22px 18px 25px;
}

.u-section-1 .u-text-2 {
  margin: 0 149px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 678px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 54px;
    margin-right: 272px;
    margin-left: 29px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 912px;
    margin-top: 86px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 429px;
  }

  .u-section-1 .u-image-1 {
    width: 412px;
    height: 257px;
    margin-top: 30px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 429px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 24px;
    padding-right: 24px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 13px;
    margin-right: 63px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    font-size: 1.125rem;
    margin-top: 13px;
    margin-right: 3px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 902px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 78px;
    margin-right: 48px;
    margin-left: 25px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 79px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 642px;
  }

  .u-section-1 .u-image-1 {
    height: 244px;
    margin-top: 109px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 618px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 30px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1042px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 58px;
    margin-right: 30px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 32px;
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    order: 1;
    min-height: 398px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-image-1 {
    height: 353px;
    margin-top: -396px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-2 {
    order: 0;
    min-height: 437px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 0 6px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 437px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-3 {
    margin: 25px 5px -356px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1111px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 70px;
    margin-right: 10px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 45px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 251px;
  }

  .u-section-1 .u-image-1 {
    height: 222px;
    margin-top: -647px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 666px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 275px;
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 37px;
    margin-bottom: -136px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1278px;
}

.u-section-2 .u-text-1 {
  margin: 68px auto 0;
}

.u-section-2 .u-list-1 {
  width: 1096px;
  margin: 100px auto 0 0;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 455px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  height: 220px;
  width: 335px;
  margin: 0 auto 0 15px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 26px 42px 0 9px;
}

.u-section-2 .u-text-3 {
  line-height: 1.6;
  font-weight: 300;
  margin: 37px 29px 0 15px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  height: 220px;
  width: 335px;
  margin: 0 auto 0 15px;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  margin: 26px 42px 0 9px;
}

.u-section-2 .u-text-5 {
  line-height: 1.6;
  font-weight: 300;
  margin: 37px 29px 0 15px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-image-3 {
  height: 220px;
  width: 335px;
  margin: 0 auto 0 15px;
}

.u-section-2 .u-text-6 {
  font-size: 1.25rem;
  margin: 26px 42px 0 9px;
}

.u-section-2 .u-text-7 {
  line-height: 1.6;
  font-weight: 300;
  margin: 37px 29px 0 15px;
}

.u-section-2 .u-list-2 {
  width: 1096px;
  margin: 68px auto 60px 0;
}

.u-section-2 .u-repeater-2 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 458px;
}

.u-section-2 .u-container-layout-4 {
  padding: 4px 0;
}

.u-section-2 .u-image-4 {
  width: 337px;
  height: 210px;
  margin: 11px auto 0 11px;
}

.u-section-2 .u-text-8 {
  font-size: 1.25rem;
  margin: 26px 0 0 11px;
}

.u-section-2 .u-text-9 {
  line-height: 1.6;
  font-weight: 300;
  margin: 18px 51px 0 11px;
}

.u-section-2 .u-container-layout-5 {
  padding: 4px 0;
}

.u-section-2 .u-image-5 {
  width: 337px;
  height: 210px;
  margin: 11px auto 0 11px;
}

.u-section-2 .u-text-10 {
  font-size: 1.25rem;
  margin: 26px 0 0 11px;
}

.u-section-2 .u-text-11 {
  line-height: 1.6;
  font-weight: 300;
  margin: 18px 51px 0 11px;
}

.u-section-2 .u-container-layout-6 {
  padding: 4px 0;
}

.u-section-2 .u-image-6 {
  width: 337px;
  height: 210px;
  margin: 11px auto 0 11px;
}

.u-section-2 .u-text-12 {
  font-size: 1.25rem;
  margin: 26px 0 0 11px;
}

.u-section-2 .u-text-13 {
  line-height: 1.6;
  font-weight: 300;
  margin: 18px 51px 0 11px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1336px;
  }

  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 405px;
  }

  .u-section-2 .u-image-1 {
    height: 189px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 23px;
    margin-right: 8px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 6px;
    margin-right: 0;
    margin-left: 6px;
  }

  .u-section-2 .u-image-2 {
    height: 189px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 23px;
    margin-right: 8px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 6px;
    margin-right: 0;
    margin-left: 6px;
  }

  .u-section-2 .u-image-3 {
    height: 189px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 23px;
    margin-right: 8px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 6px;
    margin-right: 0;
    margin-left: 6px;
  }

  .u-section-2 .u-list-2 {
    margin-top: 94px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-2 {
    min-height: 474px;
  }

  .u-section-2 .u-image-4 {
    width: 285px;
    height: 193px;
    margin-top: 8px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 29px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
  }

  .u-section-2 .u-image-5 {
    width: 285px;
    height: 193px;
    margin-top: 8px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 29px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 0;
  }

  .u-section-2 .u-image-6 {
    width: 285px;
    height: 193px;
    margin-top: 8px;
  }

  .u-section-2 .u-text-12 {
    margin-top: 29px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2638px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 855px;
  }

  .u-section-2 .u-image-1 {
    height: 217px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 8px;
  }

  .u-section-2 .u-text-3 {
    margin-right: -5px;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    height: 217px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 8px;
  }

  .u-section-2 .u-text-5 {
    margin-right: -5px;
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    height: 217px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
    margin-left: 8px;
  }

  .u-section-2 .u-text-7 {
    margin-right: -5px;
    margin-left: 0;
  }

  .u-section-2 .u-list-2 {
    margin-top: 93px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 893px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 2px;
  }

  .u-section-2 .u-image-4 {
    width: 339px;
    height: 225px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 2px;
  }

  .u-section-2 .u-image-5 {
    width: 339px;
    height: 225px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-bottom: 2px;
  }

  .u-section-2 .u-image-6 {
    width: 339px;
    height: 225px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3148px;
  }

  .u-section-2 .u-list-1 {
    width: 387px;
    margin-top: 124px;
    margin-right: 68px;
    margin-left: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1355px;
  }

  .u-section-2 .u-image-1 {
    width: 377px;
    margin-top: 5px;
    margin-right: 7px;
    margin-left: 7px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 45px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 1px;
  }

  .u-section-2 .u-image-2 {
    width: 377px;
    margin-top: 5px;
    margin-right: 7px;
    margin-left: 7px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 45px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 1px;
  }

  .u-section-2 .u-image-3 {
    width: 377px;
    margin-top: 5px;
    margin-right: 7px;
    margin-left: 7px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 45px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 1px;
  }

  .u-section-2 .u-list-2 {
    width: 387px;
    margin-top: 7px;
    margin-right: 68px;
    margin-left: auto;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: 100%;
    min-height: 1353px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-image-4 {
    width: 381px;
    margin-top: 1px;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 28px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 26px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-image-5 {
    width: 381px;
    margin-top: 1px;
    margin-left: 0;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-top: 28px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-11 {
    margin-top: 26px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-image-6 {
    width: 381px;
    margin-top: 1px;
    margin-left: 0;
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin-top: 28px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-13 {
    margin-top: 26px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3033px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 188px;
    width: 335px;
    margin-left: 5px;
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 188px;
    width: 335px;
    margin-left: 5px;
    margin-right: auto;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 188px;
    width: 335px;
    margin-left: 5px;
    margin-right: auto;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
  }

  .u-section-2 .u-list-2 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-image-4 {
    width: 329px;
    height: 194px;
    margin-right: 10px;
    margin-left: 3px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 3px;
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: 29px;
    margin-left: 3px;
  }

  .u-section-2 .u-image-5 {
    width: 329px;
    height: 194px;
    margin-right: 10px;
    margin-left: 3px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 3px;
    margin-right: 0;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-top: 29px;
    margin-left: 3px;
  }

  .u-section-2 .u-image-6 {
    width: 329px;
    height: 194px;
    margin-right: 10px;
    margin-left: 3px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 3px;
    margin-right: 0;
  }

  .u-section-2 .u-text-13 {
    width: auto;
    margin-top: 29px;
    margin-left: 3px;
  }
}

